<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="/stylesheets/todo.css" type="text/css">
  </head>

  <body>
    <p class="session-id">
      <strong>Session ID:</strong>
      <%= session[:user_id] %>
    </p>

    <p class="loading">
      Loading
    </p>

    <div class="page hidden">
      <p class="field">
        <input type="text"
          autofocus
          class="task-input"
          placeholder="What's next?"
          maxlength="55"
        >
      </p>

      <ul class="tasks">
      </ul>

      <p class="summary">
      </p>
    </div>

    <script src="/javascripts/todo.js"></script>
  </body>
</html>
