<li class="task {{status}}" data-id="{{id}}">
  <input type="checkbox" {{#if isDone}}checked{{/if}}>
  <strong class="task-title">{{title}}</strong>
  <input type="button" class="remove button" value="Remove" title="Remove this task">
</li>
